@import url(normalize.css);
@import url(fonts.css);
@import url(slider.css);


/* Обнуление стилей */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* Наследование box-sizing от html */
}

html {
    box-sizing: border-box;
    /* Установка box-sizing для всех элементов */
    scroll-behavior: smooth;
    /* Плавная прокрутка для всей страницы */
}

/* Дополнительно можно обнулить стили для некоторых элементов */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Удаление списка стилей для списков */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Установка базовых стилей для основных элементов */
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* Обнуление стилей для ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Обнуление стилей для кнопок и полей ввода */
button,
input,
optgroup,
select,
textarea {
    font: inherit;
    color: inherit;
    line-height: inherit;
}

/* Удаление стилей для форм */
button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

/* Удаление стилей для кнопок и ссылок */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

/* Устранение различий между браузерами для деталей */
details {
    display: block;
}

/* Устранение различий между браузерами для основной части */
main {
    display: block;
}

/* Удаление стилей для аудио и видео */
audio,
video {
    display: inline-block;
}

/* Удаление стилей для холста */
canvas {
    display: inline-block;
}

/* Устранение различий между браузерами для iframes */
iframe {
    border-style: none;
}

/* Устранение различий между браузерами для изображений */
img {
    border-style: none;
}

/* Устранение различий между браузерами для форм */
form {
    margin: 0;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'TildaSans', Arial, sans-serif;
    color: #fff;
    overflow-x: hidden;
    color: #000000;
}

img {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container__column {
    display: flex;
    flex-direction: column;
}

.container__flex {
    display: flex;
}

.container_center {
    align-items: center;
    text-align: center;
}

.header__container {
    display: flex;
    align-items: center;
}

.header {
    position: sticky;
    color: #fff;
    top: 0;
    z-index: 1000;
    /* Убедитесь, что хедер всегда сверху */
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}

.logo {
    font-size: 24px;
    font-weight: 400;
    margin-right: 30px;
}

.nav__menu {
    /* margin: auto 0; */
}

.menu__list {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
}

.menu__list {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}

.first__section {
    color: #fff;
    padding-top: 65px;
    background-image: url('./img/main.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 685px;
}

.tel__menu {
    padding-left: 30px;
    /* margin: auto 0; */
    font-size: 24px;
}

.social-icon__img {
    width: 30px;
    height: 30px;
}

.social__links {
    margin: auto 0;
    display: flex;
    padding-left: 30px;
    gap: 15px;
}

.order__button {
    margin-left: 40px;
    color: #000000;
    background-color: #ffce00;
    border-radius: 20px;
    text-align: center;
    padding: 9.5px 30px;
    font-size: 14px;
    font-weight: 700;
}

.first__title {
    margin-top: 320px;
    font-size: 68px;
    line-height: 78px;
    font-weight: 700;
}

.first__text {
    margin-top: 5px;
    margin-bottom: 80px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 300;
}

.arrow-down {
    width: 38.41px;
    height: 30px;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Начальное и конечное положение - без смещения */
    }

    50% {
        transform: translateY(-20px);
        /* В середине анимации стрелка поднимается на 20 пикселей вверх */
    }
}

.section__button {
    margin: 0 auto;
    cursor: pointer;
}

.about {
    padding-top: 45px;
    padding-bottom: 67.5px;
}

.imgs__container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 45px;
}

.img-grd1 {
    width: 256px;
    height: 359px;
}

.img-grd2 {
    width: 221px;
    height: 279px;
    margin-top: 80px;
}

.img-grd3 {
    width: 364px;
    height: 204px;
    margin-left: 45px;
}

.about__offer {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-top: 130px;
    gap: 10px;
}

.offer__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 43px;
}

.offer__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
}

.offer__text span {
    font-weight: 700;
}

.interior {
    background-color: #ededed;
    padding-top: 15px;
}


.interior__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;
}

.interior__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}